<!Doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Some website</title>
  </head>
  <body>
       {{> header}}
        <ul>
         <li>C++</li>
         <li>Javascript</li>
         <li>C#</li>
         <li>Node.js</li>     
       </ul>  
      {{> footer}}    
  </body>
</html>     